.card {
  --close-size: 25px;
  --card-padding: 10px;

  background-color: #FFF;
  max-width: 200px;
  height: 350px;
  position: relative;
  transition: transform 1s ease, filter 0.1s ease;
  padding-inline: var(--card-padding);

  &:hover {
    transform: scale(1.1);
  }

  &__header {
    overflow: hidden;
    width: calc(100% + var(--card-padding));

    &--relative {
      position: relative;
    }
  }

  &__image-header {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid var(--badge-color);
    border-radius: 5px;
    background-color: var(--badge-color);
    color: #FFF;
    min-width: min-content;
    padding: 3px;
    font-size: 0.8em;

    &--landscape {
      --badge-color: #0056ff;
    }

    &--flower {
      --badge-color: #ff0148;
    }

    &--pizza {
      --badge-color: #968803;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
    margin-block: 5px;
  }

  &__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    width: 90%;
    height: calc(1.2em + 150px);
    text-overflow: ellipsis;
    line-height: 1.3em;
    font-size: 14px;
  }

}

.button-close {
  background-color: var(--header-bg-color);
  border: 1px solid var(--body-bg-color);
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 0px;
  cursor: pointer;

  &__icon {
    width: var(--close-size);
    height: var(--close-size);
    transition: transform 1s ease, filter 0.1s ease;
  }

  &:hover &__icon {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(7437%) hue-rotate(357deg) brightness(104%) contrast(101%);
  }
}
