.header {
  display: flex;
  background-color: var(--header-bg-color);
  padding-block: 10px;

  .image {
    height: 50px;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 25%;

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
      color: var(--subtitle-color);
    }
  }
}
