/* You can add global styles to this file, and also import other style files */
@import url('./assets/scss/reset.scss');

:root {
  --header-bg-color: #FFF;
  --body-bg-color: #efefef;
  --subtitle-color: #999;
}
